@import "tailwindcss";

body{
    font-family: 'General Sans', sans-serif;
    width: 100dvw;
    background-color: rgb(66, 63, 63);
    /* background-color: #FF5722; */
    overflow-x: hidden;
}


@theme {
    --font-zentry: 'zentry', 'sans-serif';
    --font-general: 'general', 'sans-serif';
    --font-circular-web: 'circular-web', 'sans-serif';
    --font-robert-medium: 'robert-medium', 'sans-serif';
    --font-robert-regular: 'robert-regular', 'sans-serif';
    /* --color-primary-100: #FF5722; */
}